.ct-container{
    min-width: 350px;
}

.ct-products{
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    
    .ct-header-table{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0;

        button{
            height: 48px;
            background: var(--ct-color-primary);
            border-radius: 8px;
            border:none;
            color: var(--ct-color-white);
        }

        .ct-title{
            display: flex;
            align-items: center;
            h1{
                font-size: 24px;
                color: var(--ct-color-title)
            }
            .refresh{
                margin-left: 4px;
                height: 36px;
                background: var(--ct-color-background);
                color: var(--ct-color-text);
            }
        }
    }
}